aiosignal==1.3.1
antlr4_python3_runtime==4.9.3
appdirs==1.4.4
arrow==1.3.0
async_lru==2.0.4
attrs==24.2.0
babel==2.16.0
certifi==2022.12.7
charset_normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
Cython==3.0.11
docker-pycreds==0.4.0
docopt==0.6.2
dotmap==1.3.30
filelock==3.16.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.9.0
fuzzywuzzy==0.18.0
gitdb==4.0.10
GitPython==3.1.30
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
hydra-core==1.3.1
idna==3.4
importlib_resources==5.10.2
isoduration==20.11.0
jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema_specifications==2023.12.1
jupyter_events==0.10.0
jupyter_lsp==2.2.5
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
MarkupSafe==2.1.5
mpmath==1.3.0
msgpack==1.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.3
notebook_shim==0.2.4
numpy==1.25.2
omegaconf==2.3.0
overrides==7.7.0
packaging==23.0
pandas==2.2.1
pathtools==0.1.2
Pillow==10.0.0
protobuf==4.21.12
psutil==5.9.4
PyTDC==0.3.6
python_dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.1
ray==2.10.0
# rd-filters @ git+https://github.com/PatWalters/rd_filters.git@3630f1a59150b4a203c2f06d8376a66d1d4c3f70
rdkit==2022.3.5
referencing==0.35.1
requests==2.32.3
rpds_py==0.18.1
scikit_learn==1.3.1
scipy==1.13.1
seaborn==0.13.2
selfies==2.1.1
sentry-sdk==1.13.0
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
submitit==1.4.5
sympy==1.13.2
threadpoolctl==3.5.0
tomli==2.0.1
torch==2.1.1
tqdm==4.66.5
types-python-dateutil==2.9.0.20240906
typing_extensions==4.4.0
tzdata==2024.1
uri_template==1.3.0
urllib3==1.26.14
wandb==0.13.9
webcolors==24.8.0
websocket_client==1.8.0
zipp==3.11.0
